.contact{
  background: #f6f6f6;
}

.contactus{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.contactus-left{
  position: absolute;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 400px;
  padding-top: 120px;
  line-height: 0.1;
  z-index: 1;
}

.form input{
  height: 31px;
  width: 100%;
  /* margin-left: -95px; */
  border: 1px solid #bebebe;
  outline: none;
  color: #5c5c5c;
  font-size: 15px;
  margin-bottom: 30px;
  font-weight: 450;
  border-radius: 3px;

} 

.description textarea {
  width: 100%;
  height: 30vh;
  border: 1px solid #bebebe;
}

.button button{
  width: 100%;
    height: 58px;
    outline: none;
    border: none;
    background: #bebebe;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button button:hover{ 
  background: #b10202;
}

.contactus-left h2 {
  color: white;
  font-size: 130px;
  /* font-weight: 600; */
  margin: 45px;
  /* margin-left: 70px; */
  margin-top: -35px;
}

.contactus-left p{
  color: white;
  font-size: 40px;
  font-weight: 700;
}
.contactus-right{
  width: 100%;
  height: 1005;
  flex: 1;
  display: flex;
  justify-content: center;
}

.contactus-right img {
width: 100%;
height: 40vh;
object-fit: cover; /* This will ensure that the video covers the area fully */
/* position: absolute; */
/* top: 0; */
left: 0;
}

.form{
  display: grid;
  margin: 20px 150px;
}

/* .content img{
  width: 35%;
    height: 60vh;
    margin: -380px 15px 58px 500px;
    border-radius: 100px;
    box-shadow: 30px 19px 20px darkgray;
} */

.form p{
  text-align: justify;
  margin:  0px 0px;
}

.content2{
  justify-content: center;
  display: flex;
  flex-direction: column;
 align-items: center;
}

.content2 h3{
  font-size: 20px;
  margin: 10px 35px;
  text-align: center;
}

.content2 h2{
  font-size: 20px;
  margin-bottom: 20px;
}
.content2 p{
  text-align: center;
  margin-inline: 280px;
}

.content2 img{
  width: 30%;
  height: 30%;
  border: 0px solid black;
  border-radius: 50px;
  margin: 100px;
}

.content2 video{
  width: 30%;
  height: 30%;
  border: 0px solid black;
  border-radius: 50px;
  margin: 100px;
}

.content1{
  justify-content: center;
  display: flex;
  flex-direction: column;
 align-items: center;
 margin-top: -400px;
}

.content1 h3{
  font-size: 20px;
  margin: 10px 35px;
  text-align: center;
}

.content1 h2{
  font-size: 20px;
  margin-bottom: 20px;
}
.content1 p{
  text-align: center;
  margin-inline: 280px;
}

.content1 img{
  width: 30%;
  height: 30%;
  border: 0px solid black;
  border-radius: 50px;
  margin: 100px;
}

.content1 video{
  width: 30%;
  height: 30%;
  border: 0px solid black;
  border-radius: 50px;
  margin: 100px;
}
@media(max-width:1280px){
  .contactus-left{
      padding-left: 100px;
      
  }
  .contactus-left h2{
    margin: -50px 0px 0px 270px;
  }
  .contactus-left p{
      font-size: 60px;
  }
  .form {
    margin: 20px 130px;
  }
}



@media(max-width:1024px){
  .contactus-left {
    padding: 50px 0px 0px 100px;
  }

  .contactus-left h2{
      font-size: 80px;
      /* margin: -15px 225px; */
  }
  .contactus-left p{
      font-size: 50px;
  }

  .contactus-right img{
      height: 30vh;
  }
  .content2 h2 {
    margin: 0px 10px 20px 10px;
    text-align: center;
  }
  .content2 p {
    margin: 30px;
  }
  .form {
    margin: 20px 100px;
  }
}

@media(max-width:800px){
  .contactus-left{
      padding-left: 30px;
      top: 100px;
        padding-top: 50px;
  }
  .contactus-left h2{
      font-size: 50px;
  }
  .contactus-left p{
      font-size: 40px;
  }
  .form {
    margin: 20px 70px;
  }

}

@media(max-width:500px){
  .contactus{
      flex-direction: column;
  }
  .contactus-left{
    margin: -56px;
    margin-top: 0px;
    padding-top: 130px;
    left: -170px;
  }

  .content1 p {
    text-align: center;
    margin-inline: 280px;
    margin: 0;
}

  .contactus-left p{
      font-size: 50px;
  }

  .content img{
    width: 57%;
    height: 50vh;
    margin: -389px 15px 58px 105px;
  }

  .content2 h2 {
    text-align: center;

  }

  .content2 p {
    margin-inline: 10px;
  }

  .content2 video{
    width: 90%;
    margin: 60px;
  }
  .contactus-right img{
    height: 45%;
  }
  .form {
    margin: 20px 50px;
  }
 
}